mixin pagination(baseUrl, paginaActual, paginas, offset, limit, total, isAdmin)
    div(class=`bg-white px-4 py-3 flex items-center justify-between border border-gray-200 sm:px-6 ${!isAdmin ? 'rounded-lg mt-5 shadow' : ''}`)
        div(class="flex-1 flex justify-between sm:hidden")
            a(
                href=`${baseUrl}?pagina=${paginaActual - 1}` 
                class=`${paginaActual === 1 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`
            ) Anterior
            a(
                href=`${baseUrl}?pagina=${paginaActual + 1}` 
                class=`${paginaActual === paginas ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`
            ) Siguiente

        div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
            p(class="text-sm text-gray-700 gap-2") 
                | Mostrando 
                span(class="font-medium") #{offset + 1} a 
                span(class="font-medium") #{total < limit + offset ? total : limit + offset} de 
                span(class="font-medium") #{total} resultados

        div(class="hidden sm:block")
            nav(class="relative z-0 inline-flex rounded-md shadow-md")
                - var n = 1;
                while n <= paginas
                    a(
                        href=`${baseUrl}?pagina=${n}` 
                        class=`relative inline-flex items-center px-4 py-2 border text-sm font-medium ${paginaActual == n ? 'bg-indigo-50 border-indigo-500 text-indigo-800' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'}` 
                    ) #{n++}
